@font-face {
    font-family: Yekan-Bold;
    font-style: normal;
    font-weight: bold;
    src: url("./Yekan.eot");
    src: url("./Yekan.ttf")format("truetype");
    src: url("./Yekan.woff")format("woff");
    src: url("./Yekan.svg")format("svg");
}

@font-face {
    font-family: Yekan-Medium;
    font-style: normal;
    font-weight: 500;
    src: url("./Yekan.eot");
    src: url("./Yekan.ttf")format("truetype");
    src: url("./Yekan.woff")format("woff");
    src: url("./Yekan.svg")format("svg");
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: 300;
    src: url("./Yekan.eot");
    src: url("./Yekan.ttf")format("truetype");
    src: url("./Yekan.woff")format("woff");
    src: url("./Yekan.svg")format("svg");
}

@font-face {
    font-family: Yekan-ultraLight;
    font-style: normal;
    font-weight: 200;
    src: url("./Yekan.eot");
    src: url("./Yekan.ttf")format("truetype");
    src: url("./Yekan.woff")format("woff");
    src: url("./Yekan.svg")format("svg");
}

@font-face {
    font-family: Yekan;
    font-style: normal;
    font-weight: normal;
    src: url("./Yekan.eot");
    src: url("./Yekan.ttf")format("truetype");
    src: url("./Yekan.woff")format("woff");
    src: url("./Yekan.svg")format("svg");
}