@import url(./assets/fonts/fonts.css);

body {
  margin: 0;
  font-family: Yekan !important;
  scroll-behavior: smooth;
}


.rtl {
  direction: rtl;
}

* {
  font-size: 18px;
}

@media only screen and (max-width:500px) {

  * {
    font-size: 14px;

  }
}


.MuiDialog-paper {
  min-width: 400px;
}


.makeStyles-box-1 {


  background-image: linear-gradient(to left bottom, rgba(60, 59, 65, 0.89), rgba(19, 13, 109, 0.8)), url(../src/assets/Facebook-Marketplace.jpg);
}